.footer {
  position: fixed;
  bottom: 0;
  height: 90px; /* Adjust this value if needed */
  width: 100%;
  background-color: #282828;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 1;
}

.footer__left {
  flex: 0.3;
  display: flex;
  align-items: center;
  color: white;
  width: 300px;
}

.footer__albumLogo {
  height: 60px;
  width: 60px;
  margin-right: 20px;
  object-fit: cover;
}

.footer__songInfo {
  flex: 1;
}

.footer__songInfo > h4 {
  margin-bottom: 5px;
}

.footer__songInfo > p {
  font-size: 12px;
}

.footer__center {
  flex: 0.4;
  padding: 0 100px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 480px;
}

.footer__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.footer__seekbar {
  display: flex;
  align-items: center;
  width: 100%;
}

.footer__seekbar span {
  font-size: 12px;
  margin: 0 10px;
}

.footer__slider {
  color: #1db954 !important;
  flex: 1;
}

.footer__error {
  color: #ff0000;
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
}

.footer__icon:hover,
.footer__green:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2) !important;
}

.footer__right {
  flex: 0.3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
}

.footer__volumeControl {
  display: flex;
  align-items: center;
  width: 150px;
}

.footer__volumeSlider {
  width: 100px;
}

.footer__green {
  color: #1ed15e;
}

@media (max-width: 768px) {
  .footer {
    height: auto;
    flex-direction: column;
    padding: 10px;
  }

  .footer__left,
  .footer__center,
  .footer__right {
    width: 100%;
    margin-bottom: 10px;
  }

  .footer__center {
    padding: 0;
  }

  .footer__right {
    justify-content: center;
  }

  .footer__volumeControl {
    width: 120px;
  }

  .footer__volumeSlider {
    width: 80px;
  }
}
